Repository doodspav/motionphoto: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy, pylint, unittest-unit, coverage

flake8:
  name: flake8
  language: script
  entry: venv/bin/flake8

mypy:
  name: mypy
  language: script
  entry: venv/bin/mypy

pylint:
  name: pylint
  language: script
  entry: venv/bin/pylint
  args:
  - --fail-under=10

unittest-unit:
  name: unittest-unit
  language: script
  entry: venv/bin/python
  args:
  - -m
  - coverage
  - run
  - --branch
  - -m
  - unittest
  - discover
  - -s
  - tests/unit
  pass_filenames: false

coverage:
  name: coverage
  language: script
  entry: venv/bin/python
  args:
  - -m
  - coverage
  - report
  - --fail-under=40
  pass_filenames: false

GHI #5 Add tests for samsung stuff
  tests/unit/test_samsung.py
Due: unittest-unit, coverage

GHI #5 Fix broken samsung test
  tests/unit/test_samsung.py
Due: unittest-unit, coverage

GHI #5 Set up tests for motion
  tests/unit/test_motion.py
Due: unittest-unit, coverage

GHI #5 Add tests for motion
  tests/unit/test_motion.py
Due: unittest-unit, coverage

GHI #5 Remove unnecessary imports
  tests/unit/test_motion.py
Due: unittest-unit, coverage

GHI #5 Require 100% code coverage
  .pre-commit-config.yaml
Due: none

GHI #5 Integration tests set up
  tests/integration/__init__.py
  tests/integration/test_mp_api.py
  tests/integration/test_mp_exe.py
Due: unittest-unit, coverage

GHI #5 Example photos added for integration tests
  tests/data/README.md
  tests/data/baseline_400_jfif.jpg
  tests/data/baseline_420_411_exif.jpg
  tests/data/baseline_422_jfif.jpg
  tests/data/baseline_444.jpg
Due: none

GHI #5 Add helpers for integration tests
  tests/integration/helpers.py
Due: unittest-unit, coverage

GHI #5 Add basic tests for python API
  tests/integration/helpers.py
  tests/integration/test_mp_api.py
Due: unittest-unit, coverage

GHI #5 Add basic tests for python executable
  tests/integration/test_mp_exe.py
Due: unittest-unit, coverage

GHI #5 Run coverage on integration tests
  .pre-commit-config.yaml
Due: none

GHI #5 Get 100% code coverage
  .pre-commit-config.yaml
  tests/integration/test_mp_exe.py
Due: unittest-unit, coverage

GHI #5 Add tests and coverage (#11)
  .pre-commit-config.yaml
  README.md
  motionphoto/cli.py
  motionphoto/samsung.py
  requirements-dev.txt
  tests/__init__.py
  tests/data/README.md
  tests/data/baseline_400_jfif.jpg
  tests/data/baseline_420_411_exif.jpg
  tests/data/baseline_422_jfif.jpg
  tests/data/baseline_444.jpg
  tests/integration/__init__.py
  tests/integration/helpers.py
  tests/integration/test_mp_api.py
  tests/integration/test_mp_exe.py
  tests/unit/__init__.py
  tests/unit/test_cli.py
  tests/unit/test_exiftool.py
  tests/unit/test_google.py
  tests/unit/test_motion.py
  tests/unit/test_samsung.py
Due: flake8, mypy, pylint, unittest-unit, coverage

GHI #4 Improve comments
  tests/integration/helpers.py
Due: unittest-unit, coverage

GHI #4 Add python requirements-docs.txt
  requirements-dev.txt
  requirements-docs.txt
  requirements.txt
Due: none

GHI #4 Add base sphinx docs files from sphinx-quickstart
  docs/Makefile
  docs/source/conf.py
  docs/source/index.rst
Due: flake8, mypy, pylint, unittest-unit, coverage

GHI #4 Add make.bat with Windows line endings
  docs/make.bat
Due: none

GHI #4 Improve conf.py
  docs/source/conf.py
Due: flake8, mypy, pylint, unittest-unit, coverage

GHI #4 Re-format docs to work with rst
  docs/source/conf.py
  motionphoto/cli.py
  motionphoto/exiftool.py
  motionphoto/google.py
  motionphoto/motion.py
  motionphoto/samsung.py
Due: flake8, mypy, pylint, unittest-unit, coverage

GHI #4 Re-format docs to work with rst (2)
  motionphoto/samsung.py
Due: flake8, mypy, pylint, unittest-unit, coverage

GHI #4 Fix tests to run with pytest
  tests/integration/helpers.py
  tests/integration/test_mp_api.py
  tests/integration/test_mp_exe.py
Due: unittest-unit, coverage

GHI #4 Move integration test data into integration directory
  tests/integration/data/README.md
  tests/integration/data/baseline_400_jfif.jpg
  tests/integration/data/baseline_420_411_exif.jpg
  tests/integration/data/baseline_422_jfif.jpg
  tests/integration/data/baseline_444.jpg
  tests/integration/test_mp_api.py
  tests/integration/test_mp_exe.py
Due: unittest-unit, coverage

GHI #4 Add empty files for basic doc layout
  docs/source/binary_specification/general.rst
  docs/source/binary_specification/google.rst
  docs/source/binary_specification/samsung.rst
  docs/source/executable_interface/motionphoto.rst
  docs/source/executable_interface/motionphotodir.rst
  docs/source/getting_started/basic_usage.rst
  docs/source/getting_started/installation.rst
  docs/source/idiots_guide/convert_photos.rst
  docs/source/idiots_guide/download_icloud_photos.rst
  docs/source/idiots_guide/install_python.rst
  docs/source/index.rst
  docs/source/python_api/google.rst
  docs/source/python_api/motion.rst
  docs/source/python_api/samsung.rst
Due: none

GHI #4 Fix CHANGELOG.md so that MyST can parse it
  CHANGELOG.md
Due: none

GHI #4 Remove developer section from CHANGELOG.md
  CHANGELOG.md
Due: none

GHI #4 Add CHANGELOG.md to docs
  CHANGELOG.md
  docs/source/conf.py
  docs/source/index.rst
  docs/source/notes/changelog.rst
  requirements-docs.txt
Due: flake8, mypy, pylint, unittest-unit, coverage

GHI #4 Add build-docs to pre-commit
  .pre-commit-config.yaml
Due: none

GHI #4 Don't always run build-docs unless files have changed
  .pre-commit-config.yaml
Due: none

GHI #4 Fix issue in CHANGELOG.md
  CHANGELOG.md
Due: none

GHI #4 Don't unconditionally run tests and coverage
  .pre-commit-config.yaml
Due: none

GHI #4 Remove idiot's guide
  docs/source/idiots_guide/convert_photos.rst
  docs/source/idiots_guide/download_icloud_photos.rst
  docs/source/idiots_guide/install_python.rst
  docs/source/index.rst
Due: none

GHI #4 Add introduction to docs
  docs/source/index.rst
Due: none

GHI #4 Fill in binary specification docs
  docs/source/binary_specification/general.rst
  docs/source/binary_specification/google.rst
  docs/source/binary_specification/samsung.rst
Due: none

GHI #4 Fill in python api docs
  docs/source/binary_specification/general.rst
  docs/source/index.rst
  docs/source/python_api/google.rst
  docs/source/python_api/motion.rst
  docs/source/python_api/samsung.rst
  docs/source/python_api/top_level.rst
Due: none

GHI #4 Fill in executable interface docs
  docs/source/conf.py
  docs/source/executable_interface/motionphoto.rst
  docs/source/executable_interface/motionphotodir.rst
  requirements-docs.txt
Due: flake8, mypy, pylint, unittest-unit, coverage

GHI #4 Fill in getting started docs
  docs/source/executable_interface/motionphoto.rst
  docs/source/getting_started/basic_usage.rst
  docs/source/getting_started/installation.rst
Due: none

GHI #4 Make README.md more minimal and link to the docs.
  README.md
  docs/source/getting_started/basic_usage.rst
  docs/source/getting_started/installation.rst
Due: none

GHI #4 Fix small doc issues
  README.md
  docs/source/getting_started/basic_usage.rst
  docs/source/getting_started/installation.rst
Due: none

Path conditions:
  flake8: any of: \.py$, but not: ^tests/
  mypy: any of: \.py$, but not: ^tests/
  pylint: any of: \.py$, but not: ^tests/
  unittest-unit: any of: \.py$
  coverage: any of: \.py$
